<div class="col-md-4 col-md-offset-6">
    <nav class="navbar navbar-default">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('index') }}">Accueil</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">FAQ</a></li>
                <li><a href="">Forum</a></li>

                {% if session('id') is not empty and session('login') is not empty %}
                    <li><a href="">Profil ({{ session('login') }})</a></li>
                    <li><a href="{{ path('user_disconnect') }}">Déconnexion</a></li>
                {% else %}
                    <li><a href="{{ path('user_register') }}">Inscription</a></li>
                    <li><a href="{{ path('user_login') }}">Connexion</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
